*{
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    background-color: #002B5B;
}
.nav-item{
    color:white;
    margin-right:10%;
    margin-left:10%;
}
.nav-link{
    color:white !important;
    font-size:1.3rem;
}
.navbar-brand{
    font-size:2rem;
    color:white !important;
}
.img{
    margin-top:2%;
    width:5%;
    float:left;
}
.box{
    height:180px;
    margin-top:2%;
    margin-bottom:5%;
    background-color: antiquewhite;
    transition: 3s;
    text-align:center;
    text-indent: 1.5;
    font-size:1.2rem;
}
.box:hover{
    transition: 3s;
    background-color: turquoise;
}
h1{
    text-align:center;
    margin-left:3%;
    margin-top:4%;
    margin-bottom:3%;
}
h3{
    margin-top:1%;
    margin-bottom:1%;
}
.myBg{
    background-color: #002B5B;
    color:#8FE3CF;
}